<div class="py-2 px-6 bg-gray-200 flex justify-start items-center border-lg border-r border-gray-400">
  <img width="90px" src="https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F5f2d87143e278db8cb6e289d%2FUnknown%2F960x0.jpg%3Ffit%3Dscale" />
  <div class="leading-normal flex-1 pl-4 flex justify-between items-center">
    <div class="italic text-gray-700">Nike ad spaces for your viewing pleasure.</div>
    <div>
      <%= link_to "Remove Ads", new_premium_path, class: "text-xs" %>
    </div>
  </div>
</div>